@model Tuple<IEnumerable<ZTP_pizza.Data.Model.Pizza>, string>
@{
    ViewData["Title"] = "Pizza";
}

<h2>Pizza [@Model.Item2.ToUpper()]</h2>
<p>
    @Html.ActionLink("Dodaj pizze", "Create", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("ChangeLang", "Pizza", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="język" value="@Model.Item2" class="form-control" name="lang">
        </div>
        <div class="col-md-4">
            <input type="submit" value="Zmień język" class="btn btn-primary" style="width: 100%;" />
        </div>
    </div>
}
<br /><br />
@foreach (var item in Model.Item1)
{
    <div class="col-md-6" style="border: 1px solid #000;">
        <div class="col-md-12">
            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300px" height="250px" alt="Image" style="margin-left: auto; margin-right: auto; display: block;" />

        </div>
        <div class="col-md-6">
            <p style="margin-top: 10px; font-size: 32px; font-weight: bold; text-align: center;">@Html.DisplayFor(modelItem => item.Price) $</p>
        </div>
                
        <div class="col-md-6" style="margin-top: 13px;">
            @Html.ActionLink("Szczegóły", "Details", new { objectId = item.Id }, new { @class = "btn btn-primary details-btn " })
        </div>
    </div>
}